# Me
set from = "{{pg_osuser}}@{{ansible_host}}"
set realname = "{{pg_osuser}} at {{ansible_host}}"

# My credentials
set smtp_url = "smtp://{{smtp_username}}@smtp.gmail.com:587/"
set smtp_pass = "{{smtp_password}}"
