# Me
set from = "{{pg_osuser}}@{{ansible_hostname}}"
set realname = "{{pg_osuser}} at {{ansible_hostname}}"

# My credentials
set smtp_url = "smtp://{{smtp_username}}@smtp.gmail.com:587/"
set smtp_pass = "{{smtp_password}}"
set crypt_use_gpgme = "no"
