[hosts]
backupsrv srv_ip=192.168.56.22
db01 srv_ip=192.168.56.23
db02 srv_ip=192.168.56.24

[dbserver]
db01
db02

[bckserver]
backupsrv

[apt:children]
pgsql

[ssh:children]
hosts

[pgsql:children]
dbserver
bckserver

[pgbackrest:children]
pgsql
